.detail {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.detail img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 4px solid #4f46e5;
  margin-bottom: 15px;
}

.detail h2 {
  margin-bottom: 20px;
  color: #4f46e5;
}

.detail p {
  margin-bottom: 10px;
  font-size: 15px;
  color: #475569;
}
