.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  text-align: center;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 3px solid #4f46e5;
}

.card h3 {
  margin-bottom: 5px;
}

.card p {
  font-size: 14px;
  color: #64748b;
  margin-bottom: 10px;
}

.card-buttons {
  display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;
  margin-top: 12px;
}

.card-buttons a,
.card-buttons button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  transition: 0.3s;
}

.card-buttons a {
  background-color: #4f46e5;
  color: white;
}

.card-buttons a:hover {
  background-color: #3730a3;
}

.card-buttons button {
  background-color: #ef4444;
  color: white;
}

.card-buttons button:hover {
  background-color: #dc2626;
}

/* Delete Button */
.delete-btn {
  padding: 6px 12px;
  border-radius: 6px;
  background-color: #ef4444;  
  color: white;
  border: none;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
}