.app {
  max-width: 800px;
  margin:40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px rgba(0,0,0,0,1);
  font-family: Arial, sans-serif;
}

h1,h2 {
  text-align: center;
}

.add-btn {
  display: block;
  margin: 15px auto;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #2e2e2e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #1b1b1b;
}
.student-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.student-item li {
  margin-bottom: 12px;
}

